<!DOCTYPE html>
<html xml:lang="pt-BR" lang="pt-BR">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Slides</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/slides.js"></script>
<script>

$(document).ready(function(){
	// functions
	(function($) {
		$.QueryString = (function(a) {
			if (a == "") return {};
			var b = {};
			for (var i = 0; i < a.length; ++i)
			{
				a[i] = a[i].replace("amp;", "");
				var p=a[i].split('=');
				if (p.length != 2) continue;
				b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
			}
			return b;
		})(window.location.search.substr(1).split('&'))
	})(jQuery);

	// variables
	var gender = $.QueryString["gender"];
	var aff_url = 'http://localhost:8888/Banner';
	var width = parseInt($.QueryString["width"]);
	var height = parseInt($.QueryString["height"]);
	var background = $.QueryString["background"];
	var width_slider = Math.ceil(width);
	var height_slider = Math.ceil(height);
	
	if(width == 300 && height == 250)
		$('.slider .bottom').css('bottom', '21%');
	
	
	// modifiers
	$('#' + gender).show();
	$('a').attr('href', aff_url);
	$('#wrapper').css('width', width + 'px');
	$('#wrapper').css('height', height + 'px');
	$('#wrapper').css('background', '#' + background);
	$('.slider').css('width', width_slider + 'px');
	$('.slider').css('height', height_slider + 'px');
	
	$('#' + gender + ' img').each(function(){
		$(this).attr('src', $(this).attr('data-src'));
	})

	if(width > 250)
		$('#wrapper').css('font-size', '16px');
	else
		$('#wrapper').css('font-size', '13px');
		
	// slider
	$('.slider').slidesjs({
		width: width_slider,
		height: height_slider,
		navigation: {active: true},
		pagination: {active: false},
		play: {active: true, interval: 10000, auto: true, swap: false, pauseOnHover: true}	
	});
	
	$('#wrapper').hover(function(){
		$('.ban_top').hide();
	},function(){
		$('.ban_top').show();
	});
});

</script>
</head>
<body>

<div id="wrapper">
	<div id="Marlon" style="display: none;">
		<div class="ban_top">
			<a href="http://localhost:8888/" target="_blank">
			<img src="img/top.jpg" /></a>
		</div>
		<div class="slider">
			<div class="slider_container">	
				<a href="http://localhost:8888/" target="_blank" class="online">
					<div class="status_icon"></div>
					<img src="img/bernardo.jpg" class="model" />					
				</a>
			</div>
			
			<div class="slider_container">				
				<a href="http://localhost:8888/" target="_blank" class="online">
					<div class="status_icon"></div>
					<img src="img/marlon.jpg" class="model" />
											
				</a>
			</div>
			<div class="slider_container">				
				<a href="http://localhost:8888/" target="_blank" class="online">
					<div class="status_icon"></div>
					<img src="img/bernardo1.gif"  class="model" />
											
				</a>
			</div>
			
			<div class="slider_container">				
				<a href="http://localhost:8888/" target="_blank" class="online">
					<div class="status_icon"></div>
					<img src="img/marlon1.jpg"  class="model" />
											
				</a>
			</div>
			
		</div>
	
		<span class="clr"></span>
	</div>	
</div>
</body>
</html>