		.form-control{
				width:400px;
				margin:auto;
				margin-top: 30px;
				margin-bottom: 15px;
			}
		
			#borda{
				 border: 2px solid white;
				 border-radius:15px;
				 width:600px;
				 margin:auto;
			}
			
			.centraliza{
				margin:auto;
			}
			
			#btn_i{
			    width:125px;
			    margin-left:auto;
			    margin-right:auto;
			}

			
			body{
				background-color: #0069c1;
			}