<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	

		 {{> scripts}}

	</head>
	<body>
	
	
		<div class="row" >
			
				{{#filmes}}
				<div class="col-xs-3">
				<div class="caixinha">
					<h3 class="corBranco">{{nomeFilme}}</h3>
						<h5 class="corBranco">Genero: {{genero}}</h5>
				
					  <img src="{{img}}" width="298px" height="300px">
					  <div class="caption">
					  </div>
						
					</div>
				</div>
	
					
				{{/filmes}}
			
		</div>	  
	
	
	 {{> BarraSuperior}}
	
      
    </div>
		
		
		
		
	</body>
</html>