@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">Ops :(</h2>
<h3 class="text-danger">Ocorreu um pequeno erro, mas estamos verificando. Se persistir pode nos <a href="mailto:camigol@siberiano.ilu.uy">avisar</a>?</h3>