		.form-control{
				width:350px;
				margin:auto;
				margin-top: 30px;
				margin-bottom: 15px;
			}
		
			.borda{
				 width:auto;
				 margin:auto;
			}
			
			.centraliza{
				margin:auto;
			}
			
			#btn_i{
			    width:125px;
			    margin-left:auto;
			    margin-right:auto;
			}

			body{
				background-color: #00CED1;
				background-size: cover; 
				background-attachment:  fixed;
				background-position: center;
				
			
			}
			.menu { 
			float: left; 
			width: 30%; 
			}
			
			.corBranco{
			color:white;
			}
			
			.corPreto{
			color:black;
			}
			
			.caixinha{
			height: auto;
			width: auto;
			}
			.logimSenha{
			margin-top: 15px;
			width: 120px;
			height: 20px;			
			}
			.dividirEsq{
			margin-left: 380px;
			}
			.auturaLoginSenha{
			margin-top: 20px;	
			}
			.auturaBtnLogin{
			margin-top: 15px;
			margin-left:5px;
			}
			.usuarioLogado{
			margin-left:500px;
			margin-top: 20px;
			}
			